/* index.module.css */
.mainContent {
    background-image: url('../assets/background.jpg') !important; /* Ruta de la imagen */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100vh; /* Asegura que cubra toda la pantalla */
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
