.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 20px;
}

form input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    font-size: 16px;
    color: #333;
}

.button {
    background-color: #333; /* Color oscuro */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px; /* Espacio entre botones */
}

.button:hover {
    background-color: #555; /* Color al pasar el mouse */
}

.cardContainer .editButton {
    background-color: #0066cc;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin: 4px;
    border: none;
}

.cardContainer .editButton:hover {
    background-color: #004e9b;
}

.cardContainer .deleteButton {
    background-color: rgb(176, 31, 31);
    color: white;
    font-size: 16px;
    padding: 5px;
    margin: 4px;
    border: none;
}

.cardContainer .deleteButton:hover {
    background-color: rgb(135, 23, 23);
}