.generalContainer {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 50px;
    transition: transform 0.35s;
}

.generalContainer:hover {
    transform: scale(1.05);
}

.homeContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    margin-top: 18px;
    margin-left: 8px;
}


.title {
    font-size: 30px;
    margin-top: 10px;
}

.buttonsContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.button {
    color: #333;
    padding: 10px;
    background-color: whitesmoke;
    transition: transform 0.25s;
    border: none;
    border-radius: 10px;
}

.button:hover {
    transform: scale(1.025);
}

.homeButton {
    background: none;
    border: none;
    transition: transform 0.3s;
}

.homeButton:hover {
    transform: scale(1.2);
}