.button {
    background-color: whitesmoke;
    font-size: 20px;
    color: #333;
    transition: transform 0.35s;
    margin: 10px;
}

.button:hover {
    background-color: rgb(184, 184, 184);
    transform: scale(1.05);
    border-color: #585858;
}